@page
@using Northwind.Web.Pages
@using Packt.Shared
@model FunctionsModel
@{
  string title = "Functions";
  ViewData["Title"] = $"Northwind B2B - {title}";
}
<div class="row">
  <h1 class="display-2">@title</h1>
  <div>
  </div>
</div>