@page

@functions
{
  public string? DayName { get; set; }

  public void OnGet()
  {
    ViewData["Title"] = "Northwind B2B";

    Model.DayName = DateTime.Now.ToString("dddd");
  }
}
<div class="jumbotron">
  <h1 class="display-3">Welcome to Northwind B2B</h1>
  <p class="lead">We supply products to our customers.</p>
  <hr />
  <p>It's @Model.DayName! Our customers include restaurants, hotels, and cruise lines.</p>
  <p>
    <a class="btn btn-primary" href="suppliers">
      Learn more about our suppliers
    </a>
  </p>
  <p>
    <a class="btn btn-primary" href="packtfeatures/employees">
      Contact our employees
    </a>
  </p>
  <p>
    <a class="btn btn-primary" href="orders">
      How many orders have we taken?
    </a>
  </p>
  <p>
    <a class="btn btn-primary" href="customers">
      Our customers are global
    </a>
  </p>
  <p>
    <a class="btn btn-primary" href="functions">
      Play with functions
    </a>
  </p>
</div>