@page "/deletecustomer/{customerid}" 
@inject INorthwindService service 
@inject NavigationManager navigation

<h3>Delete Customer</h3>
<div class="alert alert-danger">
  Warning! This action cannot be undone!
</div>
<CustomerDetail ButtonText="Delete Customer"
                ButtonStyle="danger" 
                Customer="@customer" 
                OnValidSubmit="@Delete" />

@code {
  [Parameter]
  public string CustomerId { get; set; } 

  private Customer? customer = new();

  protected async override Task OnParametersSetAsync()
  {
    customer = await service.GetCustomerAsync(CustomerId);
  }

  private async Task Delete()
  {
    if (customer is not null)
    {
      await service.DeleteCustomerAsync(CustomerId);
    }
    navigation.NavigateTo("customers");
  }
}
