@{
  ViewData["Title"] = "Chat";
}
<div class="container">
  <h1>@ViewData["Title"]</h1>
  <div class="row">
    <div class="col-12">
      <h2>Register</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">My name</div>
    <div class="col-8"><input type="text" id="from" /></div>
  </div>
  <div class="row">
    <div class="col-4">My groups</div>
    <div class="col-8"><input type="text" id="groups" value="Sales,IT" /></div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="button" id="registerButton" value="Register" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Message</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">To type</div>
    <div class="col-8">
      <select id="toType">
        <option selected>Everyone</option>
        <option>Group</option>
        <option>User</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-4">To</div>
    <div class="col-8"><input type="text" id="to" /></div>
  </div>
  <div class="row">
    <div class="col-4">Body</div>
    <div class="col-8"><input type="text" id="body" /></div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="button" id="sendButton" value="Send" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Messages received</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul id="messages"></ul>
    </div>
  </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
